html,
body,
ul,
li,
div {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.wrap {
  width: 840px;
  margin: 0 auto;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
.clearfix {
  zoom: 1;
}
body::after {
  content: '';
  display: block;
  width: 100%;
  height: 457px;
  background: url('../images/bg-footer.jpg') no-repeat;
}
.index .nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  height: 92px;
  padding-left: 300px;
  background-color: #fff;
  width: 100%;
}
.index .nav ul {
  width: 1000px;
  height: 57px;
  background: url('../images/bg-menu.png') no-repeat;
}
.index .nav li {
  float: left;
  height: 67px;
  line-height: 67px;
  margin-right: -60px;
  padding-left: 97px;
}
.index .nav li a {
  color: transparent;
  z-index: 2;
  position: relative;
}
.index .main {
  margin-top: 92px;
  width: 100%;
  height: 613px;
  background: url('../images/banner-2.jpg') no-repeat;
  background-color: #cfcfcf;
  position: relative;
}
.index .main a {
  display: block;
  width: 81px;
  height: 82px;
  background: url('../images/btn-rsvp (1).png') no-repeat;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -60px;
}
.index .section {
  margin-top: 60px;
  width: 955px;
  height: 1677px;
  background: url('../images/section-2.jpg') no-repeat;
}
.index .photos {
  margin-top: 60px;
  position: relative;
}
.index .photos .p-title {
  margin: 20px auto;
  width: 150px;
  height: 85px;
  background: url('../images/hdr-photos.png') no-repeat;
}
.index .photos .p-photos {
  width: 863px;
  height: 515px;
  background-color: #fff;
  box-shadow: 1px 1px 15px 5px #ccc;
  overflow: hidden;
  position: relative;
}
.index .photos .p-photos ul {
  width: 13648px;
  height: 505px;
  position: absolute;
}

.index .photos .p-photos li {
  float: left;
  margin: 5px 5px;
}
.index .photos .p-photos ul img {
    // width: 100%;
    // height: 100%;
}
.index .photos .arrow .left-a,
.index .photos .arrow .right-a {
  position: absolute;
  width: 23px;
  height: 45px;
  top: 50%;
}
.index .photos .arrow .left-a {
  background: url('../images/icon-arrow-left.png') no-repeat;
  left: -40px;
}
.index .photos .arrow .right-a {
  background: url('../images/icon-arrow-right.png') no-repeat;
  right: -62px;
}
.index .photos .p-btn ul {
  width: 550px;
  overflow: hidden;
  margin: 0 auto;
}
.index .photos .p-btn li {
  float: left;
  margin: 10px 5px;
}
.index .photos .p-btn a {
  color: #000;
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  background: url('../images/bg-nav-circles.png') 0 0 no-repeat;
}
.index .photos .p-btn .active {
  background-position: 0 -20px;
}
