@font-face {
  font-family: 'HYMiaoHunTiW';
  src: url('../font-face/HYMiaoHunTiW.otf');
  src: local('fontName Regular'), local('fontName'), url('../font-face/HYMiaoHunTiW.woff') format('woff'), url('../font-face/HYMiaoHunTiW.ttf') format('truetype'), url('../font-face/HYMiaoHunTiW.svg#fontName') format('svg');
}
a:hover {
  color: #fff;
}
html,
body,
.content,
.testBegin,
.indexPage,
.testResult,
.import,
.punDesigner,
.tips {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
html,
body,
div,
ul,
li,
a,
h5,
p,
label,
button,
span {
  font-family: "HYMiaoHunTiW";
}
.testBegin,
.indoorDesign,
.costumeDesign,
.gameDesign,
.flatDesign,
.animeDesign,
.tips,
.testResult,
.import {
  display: none;
}
.indexPage {
  position: relative;
}
.indexPage img {
  width: 100%;
  height: 100vh;
}
.indexPage a {
  position: absolute;
  top: calc(48.33333333%);
  right: 4.73333333rem;
  width: 3.66666667rem;
  height: 4.16666667rem;
}
section {
  display: none;
}
section h5 {
  height: 8.6rem;
  width: 100%;
  background: url(../images/questions_banner.png) no-repeat;
  background-size: 100% 100%;
}
section .question {
  display: none;
  padding: 2.43333333rem 1.9rem 0;
}
section .question p {
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
  color: #33cccc;
  line-height: 1.121;
}
section .question ul li {
  border-radius: 1.66666667rem;
  background-color: #eeeded;
  height: 3.33333333rem;
  line-height: 3.33333333rem;
  margin-bottom: 1.3rem;
  box-sizing: border-box;
  color: #666666;
  font-size: 2.06666667rem;
  border: 0.03333333rem solid transparent;
}
section .question ul li i {
  display: inline-block;
  border-radius: 50%;
  width: 0.83333333rem;
  height: 0.83333333rem;
  background-color: #fff;
  margin: 0 0.73333333rem 0 1.1rem;
}
section .question ul .lichoose {
  border: 0.03333333rem solid #33cccc;
  background-color: #fff;
  color: #33cccc;
}
section .question ul .lichoose i {
  background-color: #33cccc;
}
section #q5 li i {
  margin-right: 0.33333333rem;
}
.pubBtn {
  margin: 0 auto;
  display: block;
  width: 9.23333333rem;
  height: 3.13333333rem;
  line-height: 3.13333333rem;
  text-align: center;
  background: url(../images/next.png) no-repeat;
  background-size: cover;
  font-size: 2.61666667rem;
  color: #fff;
}
.import {
  background-color: #55cdcd;
  padding: 4.03333333rem 1.9rem 0 2.06666667rem;
  color: #fff;
}
.import p {
  text-align: center;
  font-size: 4.30633333rem;
  line-height: 1.008;
  margin-bottom: 1.66666667rem;
}
.import ul li label {
  font-size: 2.66666667rem;
  line-height: 1.8;
}
.import ul li input {
  display: block;
  border-radius: 1.66666667rem;
  width: 100%;
  height: 3.63333333rem;
  line-height: 3.63333333rem;
  margin-bottom: 1.3rem;
  box-sizing: border-box;
  padding: 0 1rem;
  font-size: 1.66666667rem;
}
.punDesigner {
  background: url(../images/indoor.png) no-repeat;
  background-size: 100% 100%;
  padding: 2.23333333rem 2.46666667rem 0;
  color: #fff;
}
.punDesigner p {
  height: 9.86666667rem;
  width: 9.86666667rem;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.punDesigner h5 {
  font-size: 2.825rem;
  margin: 2rem 0 1.66666667rem;
}
.punDesigner span {
  font-size: 2.06666667rem;
  line-height: 1.161;
}
.indoorDesign p {
  background-image: url(../images/indoor_avatar.png);
}
.costumeDesign p {
  background-image: url(../images/costume.png);
}
.gameDesign p {
  background-image: url(../images/game_avatar.png);
}
.flatDesign p {
  background-image: url(../images/flat_avatar.png);
}
.animeDesign p {
  background-image: url(../images/anime_avatar.png);
}
.tips {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.tips .tip {
  position: absolute;
  width: 13.33333333rem;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 0.33333333rem;
  font-size: 1.66666667rem;
  text-align: center;
  line-height: 5rem;
  color: #fff;
}
